* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --pale-navy: #36384D;
  --dark-navy:#242742;
  --vermellion:#FF6155;
  --grey: #19182B;
  /* above needs to be 25% opacity I think and inner aligned */
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--pale-navy);
}

.card {
  width: 23.4375rem;
  background-color: var(--white);
}