* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --pale-navy: #36384D;
  --dark-navy:#242742;
  --vermellion:#FF6155;
  --grey: 	hsla(243, 28%, 13%,0.25);
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--pale-navy);
  font-family: 'Roboto', sans-serif;
}

.card {
  min-width: 23.4375rem;
  width: 90%;
  background-color: var(--white);
}

.card-contents {
  padding: 0 1.5rem;
}

.main-image {
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 2.5rem 0 1.5rem 0;
  color: var(--dark-navy);
}

.intro-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-navy);
}

.benefits-list {
  margin-top: 1.5rem;
  padding: 0;
}

.benefit-bullet-point {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-navy);
  list-style-position: inside;
  list-style-type: none;
  background: url('img/tick-icon-small.png') no-repeat;
  background-size: 21px 21px;
  padding-left: 2.31rem;
}

.card-confirmation {
  display: none;
  width: 23.4375rem;
  background-color: var(--white);
  padding: 0 1.5rem;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.email-input-label {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--dark-navy);
}

.user-message {
  color: transparent;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.error-message {
  color: var(--vermellion);
}

/* .error-style {
  color: var(--vermellion);
} */

.error-background {
  background-color: hsla(4, 100%, 67%,.15);
}

.email-input {
  margin-top: 0.5rem;
  width: 100%;
  height: 3.5rem;
  font-weight: 400;
  font-size: 1rem;
  background-color: var()--white;
  color: var(--dark-navy);
  line-height: 1.5rem;
  opacity: 1;
  border: 1px solid var(--grey);
  border-style: inset;
  padding-left: 1.5rem;
  border-radius: .5rem;
}

.email-input:hover {
  border: 1px solid var(--dark-navy);
  cursor: pointer;
  
}

.error {
  border: 1px solid var(--vermellion);
  background-color: #FF615526;
}

.submit-btn {
  height: 3.5rem;
  background-color: var(--dark-navy);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--white);
  border-radius: .5rem;
  margin-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.submit-btn:hover {
    background: linear-gradient(204.47deg, #FF6A3A 0%, #FF527B 100%);
    box-shadow: 0px 16px 32px 0px #FF615580;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.tick-btn {
  margin-top: 9.313rem;
}

.sub-title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--dark-navy);
  margin-top: 2.5rem;
}

.confirmation-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.bold-text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.dismiss-btn {
  height: 3.5rem;
  background-color: var(--dark-navy);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--white);
  border-radius: .5rem;
  width: 100%;
  margin: 16.44rem 0 2.5rem 0;
  padding: 0;
}

@media screen and (min-width:928px) {
 .card {
  width: 58rem;
  height: 40.06rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 2rem;
 }

 .main-image-container {
  width: 25rem;
 }

 .card-contents {
  width: 23.5rem;
  padding: 0;
  margin-left: 2.5rem;
 }

 .title {
  margin:  4.5625rem 0 1.5rem 0;
  font-size: 3.5rem;
  line-height: 3.5rem;
 }

 .benefit-bullet-point {
  margin-bottom: 0.63rem;
 }

 .benefit-bullet-point:last-of-type{
  margin-bottom: 0;
 }

 .card-confirmation {
  width: 31.5rem;
  height: 32.5rem;
  padding: 0;
  border-radius: 2.5rem;
 }

 .tick-btn {
  margin: 3rem 0 0 4rem;
 }

 .sub-title {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-left: 4rem;
 }

 .confirmation-text {
  margin: 1.5rem 4rem 0;
 }

 .dismiss-btn {
  margin: 2.5rem 4rem 0 4rem;
  width: 23.5rem;
 }

 .dismiss-btn:hover {
  background: linear-gradient(204.47deg, #FF6A3A 0%, #FF527B 100%);
  box-shadow: 0px 16px 32px 0px #FF615580;
  transition: all 250ms ease-in-out;
  cursor: pointer;
 }
}